

#hero_section {
  display: grid;
  height: 50vh;
  width: 100%;
  z-index: 0;
  color: white;
  background-color: var(--primary);

}

#hero_section p {
  font-size: 1.5rem;
  grid-area: 1/1;
  z-index: 1;
}

#hero_section video {
  grid-area: 1/1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hero_section .aabningstider {
  grid-area: 1/1;
  margin-left: 50vw;
} 

.aabningstider {
  background-color: blueviolet;
  width: 15vw;
  height: 10vw;

}

.red {
  background: red;
}
=======
img {
display: block;
width: 100%;
height: auto;
}

#hero_section {
display: grid;
height: 80vh;
width: 100%;
z-index: 0;
color: white;
background-color: black;
}

#hero_section p {
font-size: 1.5rem;
grid-area: 1/1;
z-index: 2;
}

#hero_section video {
grid-area: 1/1;
height: 100%;
width: 100%;
object-fit: cover;
opacity: 0.6;
z-index: 1;
}

#hero_section .section_wrapper {
display: flex;
flex-direction: row;
text-align: center;
gap: -2vw;
z-index: 2;
grid-area: 1/1;
}

.open {
grid-area: 1/1;
background-color: blueviolet;
border-color: 2px white;
width: 15vw;
height: 4vw;
z-index: 1;
}

.find {
border-color: white;
background-color: blueviolet;
width: 15vw;
height: 4vw;
z-index: 1;
}

.red {
background: red;
}

#udflugt_section {
display: grid;
grid-template-columns: 10vw 1fr 10vw;
grid-template-rows: auto;
}

#udflugt_section .section_wrapper {
grid-column: 2/3;
display: grid;
grid-template-columns: 1.5fr 1fr;
gap: 3vw;
}

#udflugt_section img {
grid-column: 2/3;
}